/* .header img{
    height: 80px;
} */
.header{
    margin-left: 40%;
    display: flex;
}
@media screen and (max-width: 600px){
    .header{
        margin: 0;
        display: flex;
    }
    .header nav{
        color: black;
        line-height: 10px;
    }
    .header h4{
        margin-right: 50px;
    }
}
.header h4{
    margin-top: 25px;
    margin-right: 100px;
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    width: 150px;
    padding: 10px;
    text-align: center;
    color: white;
}
.header nav{
    
    line-height: 40px;
    font-size: 20px;
    margin-top: 20px;
}
.header nav a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
    padding: 5px;
}
nav a:hover{
    background-color: goldenrod;
    color: white;
}