form{
    background-color: #E4886C;
    width: 500px;
    margin-left: 30%;
}
@media screen and (max-width: 600px){
  form{
    width: 400px;
    margin-left: 10%;
  }
  .google-btn .small-btn{
    width: 365px;
  }

}
label{
    color: white;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.form-btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.form-btn:hover {
  opacity: 0.8;
}

.cancel-btn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.text-container h3 {
  text-align: center;
  margin: 24px 0 12px 0;
  color: white;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}


  
  /* Add padding to containers */
  .container2 {
      margin-top: 5px;
    padding: 15px;
    /* background-color: white; */
  }

 .container2 h1{
      margin: 0;
      color: black;
  }
  
  /* Full-width input fields */
  .input input[type=text], .input input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 0 0 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  .input input[type=text]:focus, .input input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  .label b{
      color: white;
  }

  .google-btn button{
    background-color: white;
    color: black;
    padding: 14px 20px;
    margin: 8px 10px 15px 15px;
    border: none;
    cursor: pointer;
    width: 470px;
  }

