.rider-interface{
   background-color: #C5EFFA;
   box-shadow: 5px 5px 15px lightslategray;
   border-radius: 10px;
   padding: 20px;
}
.card-content img{
    width: 100%;
    height: 170px;
}
.card-content h5{
    margin: 0;
}
.card-content button{
    width: 140px;
    font-size: 18px;
    margin-top: 30px;
    padding: 10px;
    cursor: pointer;
    background-color: lightslategray;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
}
.card-content button:hover{
    background-color: red;

}